.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__form{
        width: 50%;
    }
}

.clickHere{
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'DXB';
    text-align: center;
}